/*


CSS Theme Latin by /u/serramatutu

Learn more at /r/AskLatinAmerica

This theme is written with LessCss (see more in: lesscss.org)

Flag fonts designed by Freepik from Flaticon

*/

@import "colors2.less";
/* 

COLOR PALETTE USAGE:

Intensity:
-> 0: Normal
-> 1: Barely visible
-> 2: Mild
-> 3: Strong
-> 4: Intense
*/


/* Import sections */
@import "iconpaths.less";
@import "header.less";
@import "body.less";
@import "sidebar.less";
@import "footer.less";

/* 

This file contains general styling, such as flairs, buttons etc.

*/

/* General input */

form {
    input[type="checkbox"] {   
        -moz-appearance: none; // TODO: Remove this and let Less to it for you :D
        appearance: none;
        display: inline-block;

        vertical-align: middle;
        border: @color-secondary-1-2 2px solid;

        cursor: pointer;
        background-color: white;

        height: 16px;
        width: 16px;

        margin: 0 10px 0 0;

        &:checked {
            border: white 2px solid;
            background-color: @color-primary-0;
        }
    }
    
    background-color: inherit;
}

/* Flair flags */
.linkflairlabel, .flair {
    display: inline-block;
    
    line-height: 100%;
    
    border-radius: 0;
    border: @color-complement-2 1px solid;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    
    background-color: @color-complement-1;
    
    padding: 2px 2px 2px 2px;
    
    font-size: 9px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    color: @color-complement-3 !important;
}

.flair {
    &.flair-icon::after { // Sets up flair to have icon (eg country) after it
        width: 10px;
        height: 10px;
        vertical-align: top;
        
        background-size: 100% 100%;
        content: "";
        margin-left: 5px;
        display: inline-block;
    }
    
    /* TODO: Add more countries */
    &.flair-brazil::after {
        background-image: url("@{flag-brazil}");
    }
    
    &.flair-ireland::after {
        background-image: url("@{flag-ireland}");
    }
    
    &.flair-russia::after {
        background-image: url("@{flag-russia}");
    }
    
    &.flair-usa::after {
        background-image: url("@{flag-usa}");
    }
}

/* Post displays */
.thing {
    &.stickied.link { // Fixed post titles
        a.title {
            color: @color-primary-0;    
        }
    }
    
    a.title { // Post titles
        color: @color-secondary-2-4;
    }
}