/*


CSS Theme Latin by /u/serramatutu

Learn more at /r/AskLatinAmerica

This theme is written with LessCss (see more in: lesscss.org)

Flag fonts designed by Freepik from Flaticon

*/

@import "colors.less";

/* Flair flags */
.flair {
    display: inline-block;
    
    &.flair-icon::after { // Sets up flair to have icon (eg country) after it
        width: 10px;
        height: 10px;
        
        background-size: 10px 10px;
        content: "";
        margin-left: 5px;
        display: inline-block;
    }
    
    /* TODO: Add more countries */
    &.flair-brasil::after {
        background-image: url('/flags/brazil.png');
    }
    
    &.flair-ireland::after {
        background-image: url('/flags/ireland.png');
    }
    
    &.flair-russia::after {
        background-image: url('/flags/russia.png');
    }
    
    &.flair-usa::after {
        background-image: url('/flags/united-states-of-america.png');
    }
}

/* Post displays */
.thing {
    &.stickied.link { // Fixed post titles
        a.title {
            color: @color-primary-0;    
        }
    }
    
    a.title { // Post titles
        color: @color-secondary-2-4;
    }
}

/* Footer */
div.footer-parent, p.debuginfo {
    background-color: @color-primary-4;
    
    & + img#hsts_pixel { // What is this thing even doing here lol
        display: none;
    }
    div.footer {
        border: none;
        
        div.col {
            border: none;
            
            li {
                &.title {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: @color-secondary-1-1;
                    letter-spacing: 2px;
                }
                
                margin-top: 5px;
            }
        }
        
        max-width: 800px;
    }
    
    a {
        color: @color-primary-0;
        
        &.buygold {
            color: @color-secondary-1-3;
            
            &:hover {
                color: @color-secondary-1-4;
            }
        }
        
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
            color: @color-primary-1;
        }
    }
    
    p.bottommenu {
        color: @color-primary-0;
        
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        padding-bottom: 5px;
        padding-top: 5px;
        
        a {
            color: @color-primary-2;
            
            &:hover {
                color: @color-primary-1;
            }
        }
    }
}